<li class="list-group-item clearfix">
  <a [routerLink]="['/video',userMediaView.m.id]" class="pull-left thumb-lg m-r">
    <img [src]="userMediaView.m.image">
  </a>
  <a class="clear" [routerLink]="['/video',userMediaView.m.id]">
    <span class="block text-ellipsis">{{userMediaView.m.title}}</span>
  </a>
  <a class="clear" [routerLink]="['/profile',userMediaView.m.user.id]">
    <small class="text-muted">{{userMediaView.m.user.name}}</small>
  </a>
  <span>
    <small class="text-ellipsis text-xs text-muted">
      {{userMediaView.m.meta}}
    </small>
  </span>
  <span>
    <small class="text-ellipsis">
      Last Seen {{userMediaView.lastViewDate | amTimeAgo}} : {{userMediaView.count}} views
    </small>
  </span>
</li>
