<li class="list-group-item clearfix">
  <a [routerLink]="['/video',media.id]" class="pull-left thumb-lg m-r">
    <img [src]="media.image">
  </a>
  <a class="clear" [routerLink]="['/video',media.id]">
    <span class="block text-ellipsis">{{media.title}}</span>
  </a>
  <a class="clear" [routerLink]="['/profile',media.user.id]">
    <small class="text-muted">{{media.user.name}}</small>
  </a>
  <span>
    <small class="text-ellipsis text-xs text-muted">
      {{media.meta}}
    </small>
  </span>
  <span>
    <small class="text-ellipsis">
      {{media.publishDate | amTimeAgo}}
    </small>
  </span>
</li>
